*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
html {
    height: 100%;
}

body{
    font-family: "helvetica neue";
    background: url(../img/fondo.png), #2196f3;
    background: url(../img/fondo.png),
    -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
    background: url(../img/fondo.png),
    linear-gradient(to left,rgba(123,176,76,1) 0%, rgba(76,176,80,1));
    overflow-x: hidden;
}

main{
    margin: auto;
}


#header{
    width: 100%;
    background-color: white;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}

#inicio-user{
    padding: 2rem;
    background-image: url("../img/foto-portada.jpg");
    object-fit: contain;
}

#formulario-inicio{
    margin: auto;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    width: 40%;
    padding-top: 2rem;
    align-items: center;
}
#formulario-inicio input{   
    margin-bottom: 2rem;
    padding: 0.4rem;
    border: 0;
    background-color:rgb(238, 238, 238);
    border-bottom: 1.5px solid rgb(148, 143, 143);
    margin-top: 0.4rem;
    width: 60%;
}
#formulario-inicio label{   
    width: 60%;
}

#boton{
    width: 60%;
    padding: 0.6rem;
    background-color: cornflowerblue;
    border: 0;
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#boton:hover{
    background-color: rgb(56, 93, 163);
    transition: 0.6s;
}

#pasos-preguntas{
    display: flex;
    margin-top: 2rem !important;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    
}
#pasos-preguntas a{
    background-color: white;
}
#carta{
    padding-bottom: 1.4rem;
    box-shadow: 5px 3px 5px rgb(44, 44, 44);
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
    width: auto;
}

#carta h3{
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
#carta:hover {
    filter: grayscale(70%);
    box-shadow: none;
    transition: 0.4s;
}
footer{
    color: white;
    background-color: black;
    width: 100%;
    padding: 1rem;
    left:0px;
    bottom:0px;
    height:30px;
    text-align: center;
    font-weight: bold;
}

/** Pagina Interna **/
#interno-materias{
    display: flex;
    justify-content: space-between;
}

#imagen-usuario{
    object-fit: contain;
}

#servicios{
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 83, 83);
    height: 650px;
    width: 20%;
    color: white;
    margin: auto;
}
#linea{
    color: grey;
    width: 40%;
    margin-left: 20px;
    margin-top: 0.2rem;
}
#servicios h2{
    padding-top: 1rem;
    padding-left: 20px;    
}
#servicios a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 20px;
    margin-top: 0.5rem;
}

#servicios a:hover{
    background-color: rgb(109, 108, 108);
}

#icono{
    margin-right: 0.4rem;
}

#materias{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    margin-top: 2rem;
}

#materia{
    background-color: rgb(216, 214, 214);
    height: 15rem;
    width: 25rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 5px 3px 5px rgb(44, 44, 44);
    border-radius: 10px;
}
#materia:hover{
    filter: grayscale(1);
}
#materia h3{
    font-weight: bold;
    margin-top: 0.5rem;
    padding-bottom: 0.8rem;
}

#icono-materia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#icono-materia p{
    display: flex;
    flex-direction: column;
}

#imagen-materia{
    width: 100%;
    height: 70%;
}

